<% if user_signed_in? %>
  <%= render 'users/host' %>
<% else %>
  <%= render 'users/guest' %>
<% end %>

<%= render "devise/shared/error", obj: @reservation %>

<div class="raw">
  <%= form_with model: @reservation, url: user_room_reservations_path(current_user.id) do |f| %>

    <div class="d-flex">

      <div class="col-md-6">
        <%= f.label :start_date, "開始日" %>
        <%= f.date_field :start_date, class: 'reservation-contents' %>
      </div>

      <div class="col-md-6">
        <%= f.label :end_date, "終了日" %>
        <%= f.date_field :end_date, class: 'reservation-contents' %>
      </div>

      <div class="col-md-6">
        <%= f.label :number_of_people, "人数" %>
        <%= f.number_field :number_of_people, class: 'reservation-contents' %>
      </div>

      <%= f.submit "予約する", class: 'form-control btn-primary mb-4' %> 

    </div>
  <% end %>
</div>