<%= render 'users/host' %>

<div class="container-fiuld reservations">
  <h4 class="pb-4">登録済みルーム一覧</h4>
    <table>
      <thead>
        <tr align="center">
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>料金</th>
          <th>作成日</th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td>
            <% if room.room_image? %>
            <%= image_tag room.room_image.thumb.url %>
            <% end %>
            </td>
            <td><%= room.room_name %></td>
            <td><%= room.introduction %></td>
            <td><%= room.price %></td>
            <td><%= room.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>