<%= render 'users/host' %>


<div class="raw">
  <%= form_for(@room, url: new_room_reservation_path(@room.id)) do |f| %>

  <div class="d-flex">

    <%= f.hidden_field :id, value: @room.id %>
    <div class="col-md-6">
      <label>開始日</label>
      <%= f.date_field :start_date, class: 'reservation-contents' %>
    </div>

    <div class="col-md-6">
      <label>終了日</label>
      <%= f.date_field :end_date, class: 'reservation-contents' %>
    </div>

    <div class="col-md-6">
      <label>人数</label>
      <%= f.number_field :number_of_people, class: 'reservation-contents' %>
    </div>

    <%= f.submit "予約する", class: 'form-control btn-primary mb-4' %> 

  </div>
  <% end %>
</div>
